<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.renquinn.starter"
      android:versionCode="1"
      android:versionName="1.0">
      <application
          android:label="@string/app_name"
          android:icon="@drawable/ic_launcher"
          android:theme="@style/CustomActionBarTheme"
          >
          <activity
              android:name="com.renquinn.starter.MainActivity"
              android:label="@string/title_activity_main"
              >
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
          </activity>
          <activity
              android:name="com.renquinn.starter.DisplayMessageActivity"
              android:label="@string/title_activity_display_message"
              android:parentActivityName="com.renquinn.starter.MainActivity" >
              <meta-data
                  android:name="android.support.PARENT_ACTIVITY"
                  android:value="com.renquinn.starter.MainActivity" />
          </activity>
      </application>
</manifest>
